@import "../../../../styles.scss";

*{
    background-color:#fffffe;
}

.navigator-container{
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    display: flex;
    @include desktop {
        
    }
    

    .navigator-list{
        display: flex;
        flex-direction:space-around;
        width:100%;
        
        @include desktop {
            justify-content: space-around;
           
            
        }

        .navigator-list__item{
            padding:14px;
            list-style: none;
           
            @include desktop {
                padding: 20px;
            }

        }

        .navigator-list__item--link:hover{
            color:orange;
        }
        .navigator-list__item--link{
            text-decoration:none;
            text-transform:uppercase;
            font-weight: bold;
            color: black;
        
        }
        
        
    }
}