
<div>
    <h1>Sobre nosotros:</h1>
    <img src="../../../assets/images/imagen2.jpg" alt="personas en oficina">
    <p>Los viajes más irresistibles, los mejores precios, el mejor trato del que seamos capaces y la máxima calidad en nuestro servicio: Son nuestros VALORES, una estrategia para dibujar nuestras dos sonrisas favoritas: La que te llevas de ida, y la que traes de vuelta.</p>
        
       <p> <span>El mejor servicio al cliente</span>
        En Viajes Upgrade HUB, el compromiso con el BUEN SERVICIO no es un añadido postventa, sino el punto de partida para nuestra auténtica vocación de agentes de viaje. Una plantilla experta, décadas de experiencia y una asistencia especializada son los ingredientes clave para viajar siempre en las mejores manos. ¡Cuenta con nosotros!</p>
        
     <p>Viajes a tu medida
        Existen tantas formas de viajar como personas, y en Upgrade HUB tenemos un viaje para ti tanto si te gusta viajar con toda la familia, a solas, con tu pareja, con tus amigos, a la playa o a la montaña. Cuéntanos tus planes y te ayudamos a hacerlos realidad.</p>
        
    <p>Los mejores precios
        Descubre que la calidad y el mejor servicio al cliente no están reñidos con las mejores ofertas. En Upgrade HUB siempre encontrarás grandes viajes a precios económicos y toda clase de ofertas para todos los bolsillos. Acércate a nuestras agencias, pregúntanos por teléfono o suscríbete a nuestro newsletter para recibir ofertas a precios imbatibles directamente en tu e-mail. ¡Te vamos a sorprender!</p>
        
        
</div>
