@import "../../../styles.scss";

*{
    background-color:#0f0e17;
}

h6{
    border: 1px solidblack;
    color:white;
    padding: 10px;
    margin:80px 0;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    background-color: rgba(19, 12, 14, 0.507);
    font-size: 13px;

    @include desktop {
        font-size: 20px;
    }
    

}

h2{
    margin-top:20px;
    color:#fffffe;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
     @include desktop{
         margin-top: 50px;
         font-size: 30px;
         margin-bottom:40px;
     }
    
    
}

.countries-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    

    &__card {
        height: 200px;
        width: 90%;
        border-radius: 10px;
        margin: 20px;

        @include desktop{
            width: 28%;
           
        }

        &:hover{
            cursor: pointer;
        }
    }
}
