<div class="container">
<h1>Destinations</h1>
<img src="https://media.wsimag.com/attachments/0e9149a7441a16ecabed37cda9fe00fd1213dfca/store/fill/1230/692/816225920ce84c5a7761b2a96795c8855f954facde25371680e6aa46af8f/Destinos-turisticos-alrededor-del-mundo.jpg" alt="travel photos">

<p>¿Quienes somos?
    Ser la mejor plataforma de viajes en España brindando un servicio óptimo a nuestros afiliados y otorgándoles el mayor valor agregado del mercado, con una nueva y mejorada experiencia de reserva al optimizar tiempos y recursos generando mayores ingresos.
    
    ¿Quiénes somos?
    Upgrade HUB es una B2B2C OTA One Stop Shop que llega a España sin nada de experiencia internacional con la finalidad de brindar una nueva experiencia al digitalizar a las agencias de viajes ofreciendo acceso gratuito a la plataforma creando así una innovadora experiencia para el usuario.
    
    ¡Podrás personalizar tu agencia, ahorrar tiempo, generar mayores ingresos, tener el control total de tus ventas y las de cada uno de tus agentes!
</p>

<img src="../../../assets/images/imagen.png" alt="imagen ref" >

    
    
</div>